<div class="pricing-tables stripped object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
    <div class="row grid-space-0">
        <!-- pricing table start -->
        <!-- ================ -->
        {% set dateTime = date %}
        <div class="col-sm-3 plan stripped">
            <div class="header dark-bg">
                <h3>{{ dateTime | localizeddate('full', 'none', 'fr_FR', null, 'cccc') | capitalize }}</h3>
                <div class="price"><span>{{ dateTime | localizeddate('full', 'none', 'fr_FR', null, 'd MMMM') }}</span></div>
            </div>
            <ul>
                <li>rien</li>
            </ul>
        </div>
        <!-- pricing table end -->
        <!-- pricing table start -->
        <!-- ================ -->
        <div class="col-sm-3 plan stripped best-value">
            <div class="header default-bg">
                <h3>{{ dateTime | date_modify("+1 day") | localizeddate('full', 'none', 'fr_FR', null, 'cccc') | capitalize }}</h3>
                <div class="price"><span>{{ dateTime | date_modify("+1 day") | localizeddate('full', 'none', 'fr_FR', null, 'd MMMM') }}</span></div>
            </div>
            <ul id="id01">
                {% for availabilityKey in availabilities | keys %}
                    <li><a href="#">{{ availabilityKey }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- pricing table end -->

        <!-- pricing table start -->
        <!-- ================ -->
        <div class="col-sm-3 plan stripped">
            <div class="header dark-bg">
                <h3>{{ dateTime | date_modify("+2 day") | localizeddate('full', 'none', 'fr_FR', null, 'cccc') | capitalize }}</h3>
                <div class="price"><span>{{ dateTime | date_modify("+2 day") | localizeddate('full', 'none', 'fr_FR', null, 'd MMMM') }}</span></div>
            </div>
            <ul>
                <li>voir</li>
            </ul>
        </div>
        <!-- pricing table end -->

        <!-- pricing table start -->
        <!-- ================ -->
        <div class="col-sm-3 plan ">
            <div class="header dark-bg">
                <h3>{{ dateTime | date_modify("+3 day") |localizeddate('full', 'none', 'fr_FR', null, 'cccc') | capitalize }}</h3>
                <div class="price"><span>{{ dateTime | date_modify("+3 day") | localizeddate('full', 'none', 'fr_FR', null, 'd MMMM') }}</span></div>
            </div>
            <ul>
                <li>voir</li>
            </ul>
        </div>
        <!-- pricing table end -->

    </div>
</div>
