{% extends '::layout.html.twig' %}

{% block content %}
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">

                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title">{{ business.Name }}</h1>
                <div class="separator-2"></div>
                <!-- page-title end -->

                <div class="row">
                    <div class="col-md-4">
                        <!-- pills start -->
                        <!-- ================ -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills" role="tablist">
                            <li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="images"><i class="fa fa-camera pr-5"></i> {{ 'picture' | trans }}</a></li>
                            {% if business.address %}
                                <li><a href="#pill-2" role="tab" data-toggle="tab" title="video"><i class="fa fa-map-marker pr-5"></i> {{ 'map' | trans }}</a></li>
                            {% endif %}
                            <li><a href="#pill-3" role="tab" data-toggle="tab" title="video"><i class="fa fa-video-camera pr-5"></i> {{ 'video' | trans }}</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content clear-style">
                            <div class="tab-pane active" id="pill-1">
                                <div class="overlay-container overlay-visible">
                                    {% if business.mainPictureFilename %}
                                        <img src="{{ asset('uploads/pictures/'~business.mainPictureFilename) }}" alt="{{ business.name }}"/>
                                        <a href="{{ asset('uploads/pictures/'~business.mainPictureFilename) }}" class="popup-img overlay-link" title="image title"><i class="icon-plus-1"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% if business.address %}
                            <div class="tab-pane" id="pill-2">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed/v1/place?key={{ GOOGLE_API_KEY }}&q={{ business.address }}" allowfullscreen>
                                    </iframe>
                                    <p><a href="https://www.google.com/maps/embed/v1/place?key={{ GOOGLE_API_KEY }}&q={{ business.address }}">{{ business.address }}</a></p>
                                </div>
                            </div>
                            {% endif %}
                            <div class="tab-pane" id="pill-3">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="//player.vimeo.com/video/29198414?byline=0&amp;portrait=0"></iframe>
                                    <p><a href="http://vimeo.com/29198414">Introducing Vimeo Music Store</a> from <a href="http://vimeo.com/staff">Vimeo Staff</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                                </div>
                            </div>
                        </div>
                        <!-- pills end -->
                    </div>
                    <div class="col-md-8 pv-30">
                        <h2>{{ 'business.description' | trans }}</h2>
                        <p>{{ business.description }}</p>
                        <hr class="mb-10">
                        <div class="clearfix mb-20">
										<span>
											<i class="fa fa-star text-default"></i>
											<i class="fa fa-star text-default"></i>
											<i class="fa fa-star text-default"></i>
											<i class="fa fa-star text-default"></i>
											<i class="fa fa-star"></i>
										</span>
                            <a href="#" class="wishlist"><i class="fa fa-heart-o pl-10 pr-5"></i>Wishlist</a>
                            <ul class="pl-20 pull-right social-links circle small clearfix margin-clear animated-effect-1">
                                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main end -->

        </div>
    </div>
</section>
<!-- main-container end -->


<!-- section start -->
<!-- ================ -->
<section class="pv-30 light-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs style-4" role="tablist">
                    <li class="active"><a href="#h2tab2" role="tab" data-toggle="tab"><i class="fa fa-files-o pr-5"></i>{{ 'disponibility.plural' | trans }}</a></li>
                    <li><a href="#h2tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-5"></i>{{ 'service.plural' | trans }}</a></li>
                    <li><a href="#h2tab4" role="tab" data-toggle="tab"><i class="fa fa-star pr-5"></i>{{ 'employee.plural' | trans }}</a></li>
                    <li><a href="#h2tab5" role="tab" data-toggle="tab"><i class="fa fa-star pr-5"></i>{{ 'details' | trans }}</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content padding-top-clear padding-bottom-clear">
                    <div class="tab-pane fade in active" id="h2tab2">
                        {% include 'Business/planning_tab.html.twig' with {"services": business.services, "availabilities": availabilities, 'date': date} only %}
                    </div>
                    <div class="tab-pane fade" id="h2tab3">
                        {% include 'Business/services_tab.html.twig' with {"services": business.services} only %}
                    </div>
                    <div class="tab-pane fade" id="h2tab4">
                        {% include 'Business/employees_tab.html.twig' with {"employees": business.employees} only %}
                    </div>
                    <div class="tab-pane fade" id="h2tab5">
                        <h4 class="space-top">Détails</h4>
                        <hr>
                        <p>{{ 'business.available_brands' | trans }} : {{ business.availableBrands }}</p>
                        <hr>
                        <p>{{ 'business.payment_methods' | trans }} : {{ business.paymentMethods }}</p>

                    </div>
                </div>
            </div>

            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                <div class="sidebar">
                    <div class="block clearfix">
                        {% include 'Business/show_sidebar.html.twig' %}
                    </div>
                </div>
            </aside>
            <!-- sidebar end -->

        </div>
    </div>
</section>
<!-- section end -->


{% endblock %}