<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>{% block title %}Starter Template for Bootstrap{% endblock %}</title>
    <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Web Fonts
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
-->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/vendors_front.css' | asset_version ) }}"/>


        <!-- Font Awesome CSS -->
        <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

        <!-- Fontello CSS -->
        <link href="fonts/fontello/css/fontello.css" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('/css/plugins_front.css' | asset_version ) }}"/>
        <link rel="stylesheet" href="{{ asset('css/main_front.css' | asset_version ) }}"/>
    {% endblock %}
    {% block javascripts_head %}
    {% endblock %}
</head>
<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<body class="no-trans  ">


{% block body %}
{% endblock body %}


{% block javascripts %}
    <!-- Javascripts
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js' | asset_version ) }}"><\/script>')</script>
    <script src="{{ asset('js/vendors_front.js' | asset_version ) }}"></script>

    <script src="{{ asset('js/plugins.js' | asset_version ) }}"></script>

    <script src="{{ asset('js/template.js' | asset_version ) }}"></script>

    <script src="{{ asset('js/custom.js' | asset_version ) }}"></script>
{% endblock %}
</body>
</html>